<div class="tabbable">
  <ul class="nav nav-tabs">
    <li id="hometab" class="active"><a href="#/home" data-toggle="tab">Home</a></li>
    <li id="projecttab"><a href="#/projects" data-toggle="tab">Projects</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane active">
      <h4>Home</h4>
      <a href="#/projects/members">
    </div>
    <div id="project" class="tab-pane">
    <h4>Projects</h4>
      <a href="#/projects">
    </div>
  </div><!-- /.tab-content -->  
</div><!-- /.tabbable -->