<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href='#/home' data-toggle="tab">Home</a></li>
    <li><a href='#/projects' data-toggle="tab">Projects</a></li>
    <div class="row">
        <div class="col-lg-4">
            <input type="text" class="form-control" id="recipient-name" placeholder="Search:">
        </div>
    </div>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane active">
    </div>
    <div id="project" class="tab-pane">
    </div>
  </div><!-- /.tab-content -->  
</div><!-- /.tabbable -->
