<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href='#/home' data-toggle="tab">Home</a></li>
    <li><a href='#/projects' data-toggle="tab">Projects</a></li>
    <form class="navbar-form navbar-left">
        <div>
            <a href='#/search' data-toggle="tab"><input type="text" class="form-control" placeholder="Search:"></a>
        </div>
  </form>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane active">
    </div>
    <div id="project" class="tab-pane">
    </div>
  </div><!-- /.tab-content -->  
</div><!-- /.tabbable -->
