<div class="ng-scope" ng-include="'header.html'"></div>
<div class="ng-scope" ng-include="'pestanas.html'" ></div>  
<article>       
   <div> 
        <div align="center" ng-include="'search.html'"> </div>    
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h2>Projects - Project name</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table">
                  <tr>
                    <th>Project</th>
                    <th>Points</th>
                  </tr>
                  <tr ng-repeat="project in projects" >
                    <td>{{project.description}}</td>
                    <td>{{project.point}}</td>
                  </tr>
                </table>
              </div>
              </div>
        </div> <!-- end of container --> 
    </div>
</article>
<div class="ng-scope" ng-include="'footer.html'" ></div>